$border: rgba(0, 0, 0, 0.103);

.user-container{
    display:flex;
    align-items: center;
}
.review-container{
    display:flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
.side-bar-info ul{
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid $border;
    border-radius: 5px;
    padding: 5px;
    // align-items: end;
}
#side-directions{
    display: flex;
    flex-direction: column;
}

.side-bar-info ul{
    padding: 10px;
}

.side-bar-info li{
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.side-bar-info li div{
    padding-right: 40px;
}

.social-bar .clear-button{
    border: 1px solid $border;
}
.business-content{
    position: relative;
    display:flex;
    justify-content: space-around;
}

.social-bar{
    display:flex;
    width: 50%;
}
.social-bar * {
    font-size: 15px;
    padding: 5px;
    margin: 5px;
}

#review-button{
    width: inherit;
}

// .business-show{
//     margin: 10px;
// }

.show-head{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: auto;
    margin-bottom: 15px;
}

.business-header-info {
    display: flex;
    height: 80%;
    padding-left: 50px;
    flex-direction: column;
    justify-content: end;
    color: white;
}

.business-header-info h1 {
    color: white;
    font-size: 50px;
}

#red{
    color: red;
    font-weight: bold;
    margin: 5px;
}

#green{
    color: #66D4AE;
    font-weight:bold;
    margin: 5px;
}

.side-bar-info {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 10px;
    width: auto;
    align-self: flex-start;
}

.left-content{
    width: 50%;
}

#side-hr{
    height: 1px;
    width: 90%;
    border-width: 0;
    color: $border;
    background-color: $border;
}

i{
    color: rgba(0, 0, 0, 0.404);
}


.location-hours{
    margin-top: 20px;
    margin-bottom: 20px;
}

.lc-content{
    display: flex;
    justify-content: space-between;
}

#hours li {
    padding: 10px;
}

.map-address{
    margin-top: 20px;
}

#bold{
    font-weight: bold;
    color: green;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.day-hours-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
}

#days{
    // display:flex;
    // flex-direction: column;
    // justify-content: space-between;
    padding-right: 20px;
    p {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
}

#hours{
    padding-right: 20px;
    p {
        padding-bottom: 10px;
    }
}
