$border: rgba(0, 0, 0, 0.103);
$fade: rgba(0, 0, 0, 0.226);
$colored-background: #66D4AE;
.business-nav{
    display: flex;
    justify-content: space-around;
    height: 100px;

    width: 100%;

    z-index: 999;
    background: rgba(255, 255, 255, 0.808);

    .nav-bar{

        padding-right: 20px;
    }

    a{
        color: white;
    }
    .search-bar{
        border: 1px solid $border;
        display: flex;
        justify-content: space-between;
        height:50%;
        input{
            padding: 5px;
            width: auto;            
        }
        h2{
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
        }

    }
    
    #business-logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 50px;
        h1{
            color: white;
        }
        img{
            height: 50px;
        }
    }

}
