$border: rgba(0, 0, 0, 0.103);
.business-box{
    border: 1px solid $border;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;

    .business-box-content h2{
        color: #038C5A;
    }
}

#business-box-categories button{
    color: black;
    font-weight: bold;
}