.user-container{
    display:flex;
    align-items: center;
}
.review-container{
    display:flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
.side-bar-info ul{
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    // align-items: end;
}
.side-bar-info li{
    padding-bottom: 15px;
}
.social-bar .clear-button{
    border: 1px solid black;
}
.business-content{
    position: relative;
    display:flex;
    justify-content: space-around;
}

.social-bar{
    display:flex;
    width: 50%;
}
.social-bar * {
    font-size: 15px;
    padding: 5px;
    margin: 5px;
}

#review-button{
    width: inherit;
}

.business-show{
    margin: 10px;
}

.show-head{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
}

.business-header-info {
    display: flex;
    height: 80%;
    padding-left: 50px;
    flex-direction: column;
    justify-content: end;
    color: white;
}

.business-header-info h1 {
    color: white;
    font-size: 50px;
}

#red{
    color: red;
    font-weight: bold;
    margin: 5px;
}

#green{
    color: #66D4AE;
    font-weight:bold;
    margin: 5px;
}