// Place all the styles related to the api::businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border: rgba(0, 0, 0, 0.103);
$fade: rgba(0, 0, 0, 0.226);


.business-index{
    display:flex;
    flex-direction: column;
}



.business-index-content{
    display: flex;
    justify-content: space-between;
    .businesses-map{
        width: 50%;
        height: .8* 100vh;
    }
    #business-list{
        display: flex;
        flex-direction: column;
        width: 100%;
        box-shadow: 10px 0 5px -5px #888;
        z-index: 998;
        padding-right: 5px;
        padding-left: 5px;
    }
    a{
        color: black;
    }
}

#business-box-categories{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    a{
        border-radius: 5px;
        background-color: $border;
        padding: 5px;
        margin-right: 5px;
        color: $fade;
    }
}

.business-box{
    #sample-comment{
        display: flex;
        margin-top: 5px;
        color: $fade
    }

    h2{
        color: $fade
    }
}

.business-box:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sample-comment{
    i{
        padding-right: 5px;
    }
}
.business-index{


    .business-nav{

        position: -webkit-sticky; /* Safari */
        position: sticky;
        top:0;
        align-self: flex-start;
        height: 10%;
    }
}
