$border: rgba(0, 0, 0, 0.103);

.business-show{
    background: white;
}

#category-link{
    padding-right: 5px;
}

.user-container{
    display:flex;
    align-items: center;
}
.review-container{
    display:flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
.side-bar-info ul{
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid $border;
    border-radius: 5px;
    padding: 5px;
    // align-items: end;
}
#side-directions{
    display: flex;
    flex-direction: column;
}

#sub-info{
    display:flex;
    p {
        padding: 5px;
    }
}

.social-bar .clear-button{
    border: 1px solid $border;
}
.business-content{
    position: relative;
    display:flex;
    justify-content: space-around;
    padding-left: 50px;
    // padding-right: 50px;
}

.social-bar{
    display:flex;
    width: 50%;
    * {
        font-size: 15px;
        padding: 5px;
        margin: 5px;
    }
    .clear-button{
        width: 50%;
    }
}

#review-button{
    width: inherit;
}



.show-head{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: auto;
    margin-bottom: 15px;
}

.business-header-info {
    display: flex;
    height: 80%;
    padding-left: 50px;
    flex-direction: column;
    justify-content: end;
    color: white;

    #rating-container{
        display:flex;
        align-items: center;
        p{
            margin-left: 5px;
        }
    }
    #rating-bar {
        margin-top: 5px;
        margin-bottom: 5px;
        .outer{
            background-color: white;
        }
    }
    h1 {
        color: white;
        font-size: 50px;
    }
}


#red{
    color: red;
    font-weight: bold;
    margin: 5px;
}

#green{
    color: #66D4AE;
    font-weight:bold;
    margin: 5px;
}

.side-bar-info {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 10px;
    width: auto;
    align-self: flex-start;

    a{
        padding-bottom: 5px;
    }

    ul{
        padding: 10px;
    }
    li{
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        div {
            padding-right: 40px;
        }
    }
}



.left-content{
    width: 50%;
}

#side-hr{
    height: 1px;
    width: 90%;
    border-width: 0;
    color: $border;
    background-color: $border;
}

i{
    color: rgba(0, 0, 0, 0.404);
}


.location-hours{
    margin-top: 20px;
    margin-bottom: 20px;
}

.lc-content{
    display: flex;
    justify-content: space-between;
}

#hours li {
    padding: 10px;
}

.map-address{
    margin-top: 20px;
}

#bold{
    font-weight: bold;
    color: green;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.day-hours-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 300px;
    
    p {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    #days{
        padding-right: 20px;
        margin-left: 15px;
        p {
            margin-bottom: 10px;
            padding-bottom: 10px;
        }
    }

    #hours{
        padding-right: 20px;
        p {
            padding-bottom: 10px;
        }
    }
}



.under-map{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .border-button{
        border: 1px solid $border;
        border-radius: 5px;
        padding: 10px;
        font-weight: normal;
        color: black;
    }

    .border-button:hover{
        // border: 1px solid $border;
        // border-radius: 5px;
        // padding: 10px;
        background-color: $border;
        transition: 0.5s;
    }
}