#missing-page .nav-bar{
    justify-content: center;
}

#missing-page-content{
    display: flex;
    justify-content: center;
    align-items: top;
    margin-top: 100px;
}

#missing-page-left{
    width: 25%;
}