$colored-background: #66D4AE;
$fade: rgba(0, 0, 0, 0.226);


.review-form-container{
    display:flex;
    position: center;
    flex-direction: column;

    .other-nav-bar{
        padding: 0;
    }

    .review-form-content{
        // margin: 15px;
        // width: 100vw;
        form{
            display: flex;
            flex-direction: column;
            // width: 100vw;
            align-items: center;
            justify-content: center;
            position: center;
            padding: 10px;
            
            #inputs{
                border: 1px solid black;
                border-radius: 5px;
                padding: 15px;
                width: 90%;
                input{
                    width: 100%;
                    border: none;
                }
                #comment{
                    width: 100%;
                    height: 200px;
                    border:none;
                }
                #comment:focus-visible{
                    outline: none;
                }
                
                .radio-container{
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                }

            }
            button{
                margin-top: 20px;
                background-color: $colored-background;
                border: none;
                border-radius: 5px;
                padding: 5px;
                color: white;
                font-weight: bold;
            }



            .txt-center {
                text-align: center;
            }
            .hide {
                display: none;
            }
            
            .clear {
                float: none;
                clear: both;
            }
            
            .rating {
                display:flex;
                justify-content: flex-end;
                align-items: center;
                width: 160px;
                direction: rtl;
                text-align: end;
                position: relative;
            }
            
            .rating > label {
                float: left;
                display: inline;
                margin-right: 3px;
                position: relative;
                padding-left: 5px;
                padding-right: 5px;
                cursor: pointer;
                background-color: $fade;
                border-radius: 5px;
                img{
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }
            
            .rating > label:hover,
            .rating > label:hover ~ label,
            .rating > input.radio-btn:checked ~ label {
                color: transparent;
            }
            
            .rating > label:hover:before,
            .rating > label:hover ~ label:before,
            .rating > input.radio-btn:checked ~ label:before,
            .rating > input.radio-btn:checked ~ label:before {
                content: image-url('small_kelp_logo.png');
                position: absolute;
                left: 0;
                background-color: $colored-background;
                border-radius: 5px;
                padding: 5px;
            }




        }
    }
}