// Place all the styles related to the api::sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.session-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.session-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    max-width: 400px;
    
    text-align: center;
    margin-right: 100px;
    a {
        text-decoration: none;
        margin-left: 5px;
        margin-right: 5px;
        color: #03A6A6;
        line-height: 25px;
    }
    input{
        border-radius: 5px;
        padding: 5px;
        margin-bottom: 5px;
    }
}

.name-container{
    display: flex;
    justify-content: space-between;
    // width: inheirt%;
    input{
        width: 184px;
    }
}


#error-field{
    border: 3px solid red;
}

#error-message{
    color:red;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 2.5px;
}

#line{
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#line:before,
#line:after {
  content: "";
  border-top: 0.25px solid #333333;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}
#line:after {
    margin: 0 0 0 20px;
}

.form-page .nav-bar{
    text-decoration: none;
}


.form-content{
    display:flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background: white;
}